# Do I need to fill out any user registration or identity verification?

NO! Bitcoin was born as "a person-to-person electronic money system" and we are proud to support that principle. No personal information is required from you, the exchanges are entirely between peers and LNP2Pbot does not collect or store any personal information of the parties involved.
